@font-face {
	font-family: 'MaterialDesign';
	src:url('fonts/MaterialDesign.eot?-eohrr1');
	src:url('fonts/MaterialDesign.eot?#iefix-eohrr1') format('embedded-opentype'),
		url('fonts/MaterialDesign.woff?-eohrr1') format('woff'),
		url('fonts/MaterialDesign.ttf?-eohrr1') format('truetype'),
		url('fonts/MaterialDesign.svg?-eohrr1#MaterialDesign') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="md-"], [class*=" md-"] {
	font-family: 'MaterialDesign';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.md-3d-rotation:before {
	content: "\e600";
}
.md-access-alarm:before {
	content: "\e601";
}
.md-access-alarms:before {
	content: "\e602";
}
.md-access-time:before {
	content: "\e603";
}
.md-accessibility:before {
	content: "\e604";
}
.md-account-balance-wallet:before {
	content: "\e605";
}
.md-account-balance:before {
	content: "\e606";
}
.md-account-box:before {
	content: "\e607";
}
.md-account-child:before {
	content: "\e608";
}
.md-account-circle:before {
	content: "\e609";
}
.md-adb:before {
	content: "\e60a";
}
.md-add-alarm:before {
	content: "\e60b";
}
.md-add-box:before {
	content: "\e60c";
}
.md-add-circle-outline:before {
	content: "\e60d";
}
.md-add-circle:before {
	content: "\e60e";
}
.md-add-shopping-cart:before {
	content: "\e60f";
}
.md-add-to-photos:before {
	content: "\e610";
}
.md-add:before {
	content: "\e611";
}
.md-adjust:before {
	content: "\e612";
}
.md-airplanemode-off:before {
	content: "\e613";
}
.md-airplanemode-on:before {
	content: "\e614";
}
.md-alarm-add:before {
	content: "\e615";
}
.md-alarm-on:before {
	content: "\e616";
}
.md-alarm:before {
	content: "\e617";
}
.md-album:before {
	content: "\e618";
}
.md-android:before {
	content: "\e619";
}
.md-announcement:before {
	content: "\e61a";
}
.md-apps:before {
	content: "\e61b";
}
.md-archive:before {
	content: "\e61c";
}
.md-arrow-back:before {
	content: "\e61d";
}
.md-arrow-drop-down-circle:before {
	content: "\e61e";
}
.md-arrow-drop-down:before {
	content: "\e61f";
}
.md-arrow-drop-up:before {
	content: "\e620";
}
.md-arrow-forward:before {
	content: "\e621";
}
.md-aspect-ratio:before {
	content: "\e622";
}
.md-assessment:before {
	content: "\e623";
}
.md-assignment-ind:before {
	content: "\e624";
}
.md-assignment-late:before {
	content: "\e625";
}
.md-assignment-return:before {
	content: "\e626";
}
.md-assignment-returned:before {
	content: "\e627";
}
.md-assignment-turned-in:before {
	content: "\e628";
}
.md-assignment:before {
	content: "\e629";
}
.md-assistant-photo:before {
	content: "\e62a";
}
.md-attach-file:before {
	content: "\e62b";
}
.md-attach-money:before {
	content: "\e62c";
}
.md-attachment:before {
	content: "\e62d";
}
.md-audiotrack:before {
	content: "\e62e";
}
.md-autorenew:before {
	content: "\e62f";
}
.md-av-timer:before {
	content: "\e630";
}
.md-backspace:before {
	content: "\e631";
}
.md-backup:before {
	content: "\e632";
}
.md-battery-20:before {
	content: "\e633";
}
.md-battery-30:before {
	content: "\e634";
}
.md-battery-50:before {
	content: "\e635";
}
.md-battery-60:before {
	content: "\e636";
}
.md-battery-80:before {
	content: "\e637";
}
.md-battery-90:before {
	content: "\e638";
}
.md-battery-alert:before {
	content: "\e639";
}
.md-battery-charging-20:before {
	content: "\e63a";
}
.md-battery-charging-30:before {
	content: "\e63b";
}
.md-battery-charging-50:before {
	content: "\e63c";
}
.md-battery-charging-60:before {
	content: "\e63d";
}
.md-battery-charging-80:before {
	content: "\e63e";
}
.md-battery-charging-90:before {
	content: "\e63f";
}
.md-battery-charging-full:before {
	content: "\e640";
}
.md-battery-full:before {
	content: "\e641";
}
.md-battery-std:before {
	content: "\e642";
}
.md-battery-unknown:before {
	content: "\e643";
}
.md-beenhere:before {
	content: "\e644";
}
.md-block:before {
	content: "\e645";
}
.md-bluetooth-audio:before {
	content: "\e646";
}
.md-bluetooth-connected:before {
	content: "\e647";
}
.md-bluetooth-disabled:before {
	content: "\e648";
}
.md-bluetooth-searching:before {
	content: "\e649";
}
.md-bluetooth:before {
	content: "\e64a";
}
.md-blur-circular:before {
	content: "\e64b";
}
.md-blur-linear:before {
	content: "\e64c";
}
.md-blur-off:before {
	content: "\e64d";
}
.md-blur-on:before {
	content: "\e64e";
}
.md-book:before {
	content: "\e64f";
}
.md-bookmark-outline:before {
	content: "\e650";
}
.md-bookmark:before {
	content: "\e651";
}
.md-border-all:before {
	content: "\e652";
}
.md-border-bottom:before {
	content: "\e653";
}
.md-border-clear:before {
	content: "\e654";
}
.md-border-color:before {
	content: "\e655";
}
.md-border-horizontal:before {
	content: "\e656";
}
.md-border-inner:before {
	content: "\e657";
}
.md-border-left:before {
	content: "\e658";
}
.md-border-outer:before {
	content: "\e659";
}
.md-border-right:before {
	content: "\e65a";
}
.md-border-style:before {
	content: "\e65b";
}
.md-border-top:before {
	content: "\e65c";
}
.md-border-vertical:before {
	content: "\e65d";
}
.md-brightness-1:before {
	content: "\e65e";
}
.md-brightness-2:before {
	content: "\e65f";
}
.md-brightness-3:before {
	content: "\e660";
}
.md-brightness-4:before {
	content: "\e661";
}
.md-brightness-5:before {
	content: "\e662";
}
.md-brightness-6:before {
	content: "\e663";
}
.md-brightness-7:before {
	content: "\e664";
}
.md-brightness-auto:before {
	content: "\e665";
}
.md-brightness-high:before {
	content: "\e666";
}
.md-brightness-low:before {
	content: "\e667";
}
.md-brightness-medium:before {
	content: "\e668";
}
.md-brush:before {
	content: "\e669";
}
.md-bug-report:before {
	content: "\e66a";
}
.md-business:before {
	content: "\e66b";
}
.md-cached:before {
	content: "\e66c";
}
.md-cake:before {
	content: "\e66d";
}
.md-call-end:before {
	content: "\e66e";
}
.md-call-made:before {
	content: "\e66f";
}
.md-call-merge:before {
	content: "\e670";
}
.md-call-missed:before {
	content: "\e671";
}
.md-call-received:before {
	content: "\e672";
}
.md-call-split:before {
	content: "\e673";
}
.md-call:before {
	content: "\e674";
}
.md-camera-alt:before {
	content: "\e675";
}
.md-camera-front:before {
	content: "\e676";
}
.md-camera-rear:before {
	content: "\e677";
}
.md-camera-roll:before {
	content: "\e678";
}
.md-camera:before {
	content: "\e679";
}
.md-cancel:before {
	content: "\e67a";
}
.md-cast-connected:before {
	content: "\e67b";
}
.md-cast:before {
	content: "\e67c";
}
.md-center-focus-strong:before {
	content: "\e67d";
}
.md-center-focus-weak:before {
	content: "\e67e";
}
.md-chat:before {
	content: "\e67f";
}
.md-check-box-outline-blank:before {
	content: "\e680";
}
.md-check-box:before {
	content: "\e681";
}
.md-check:before {
	content: "\e682";
}
.md-chevron-left:before {
	content: "\e683";
}
.md-chevron-right:before {
	content: "\e684";
}
.md-clear-all:before {
	content: "\e685";
}
.md-clear:before {
	content: "\e686";
}
.md-close:before {
	content: "\e687";
}
.md-closed-caption:before {
	content: "\e688";
}
.md-cloud-circle:before {
	content: "\e689";
}
.md-cloud-done:before {
	content: "\e68a";
}
.md-cloud-download:before {
	content: "\e68b";
}
.md-cloud-off:before {
	content: "\e68c";
}
.md-cloud-queue:before {
	content: "\e68d";
}
.md-cloud-upload:before {
	content: "\e68e";
}
.md-cloud:before {
	content: "\e68f";
}
.md-collections:before {
	content: "\e690";
}
.md-color-lens:before {
	content: "\e691";
}
.md-colorize:before {
	content: "\e692";
}
.md-comment:before {
	content: "\e693";
}
.md-compare:before {
	content: "\e694";
}
.md-computer:before {
	content: "\e695";
}
.md-contacts:before {
	content: "\e696";
}
.md-content-copy:before {
	content: "\e697";
}
.md-content-cut:before {
	content: "\e698";
}
.md-content-paste:before {
	content: "\e699";
}
.md-control-point-duplicate:before {
	content: "\e69a";
}
.md-control-point:before {
	content: "\e69b";
}
.md-create:before {
	content: "\e69c";
}
.md-credit-card:before {
	content: "\e69d";
}
.md-crop-3-2:before {
	content: "\e69e";
}
.md-crop-5-4:before {
	content: "\e69f";
}
.md-crop-7-5:before {
	content: "\e6a0";
}
.md-crop-16-9:before {
	content: "\e6a1";
}
.md-crop-din:before {
	content: "\e6a2";
}
.md-crop-free:before {
	content: "\e6a3";
}
.md-crop-landscape:before {
	content: "\e6a4";
}
.md-crop-original:before {
	content: "\e6a5";
}
.md-crop-portrait:before {
	content: "\e6a6";
}
.md-crop-square:before {
	content: "\e6a7";
}
.md-crop:before {
	content: "\e6a8";
}
.md-dashboard:before {
	content: "\e6a9";
}
.md-data-usage:before {
	content: "\e6aa";
}
.md-dehaze:before {
	content: "\e6ab";
}
.md-delete:before {
	content: "\e6ac";
}
.md-description:before {
	content: "\e6ad";
}
.md-desktop-mac:before {
	content: "\e6ae";
}
.md-desktop-windows:before {
	content: "\e6af";
}
.md-details:before {
	content: "\e6b0";
}
.md-developer-mode:before {
	content: "\e6b1";
}
.md-devices:before {
	content: "\e6b2";
}
.md-dialer-sip:before {
	content: "\e6b3";
}
.md-dialpad:before {
	content: "\e6b4";
}
.md-directions-bike:before {
	content: "\e6b5";
}
.md-directions-bus:before {
	content: "\e6b6";
}
.md-directions-car:before {
	content: "\e6b7";
}
.md-directions-ferry:before {
	content: "\e6b8";
}
.md-directions-subway:before {
	content: "\e6b9";
}
.md-directions-train:before {
	content: "\e6ba";
}
.md-directions-transit:before {
	content: "\e6bb";
}
.md-directions-walk:before {
	content: "\e6bc";
}
.md-directions:before {
	content: "\e6bd";
}
.md-disc-full:before {
	content: "\e6be";
}
.md-dnd-forwardslash:before {
	content: "\e6bf";
}
.md-dnd-on:before {
	content: "\e6c0";
}
.md-dns:before {
	content: "\e6c1";
}
.md-do-not-disturb:before {
	content: "\e6c2";
}
.md-dock:before {
	content: "\e6c3";
}
.md-domain:before {
	content: "\e6c4";
}
.md-done-all:before {
	content: "\e6c5";
}
.md-drafts:before {
	content: "\e6c6";
}
.md-drive-eta:before {
	content: "\e6c7";
}
.md-dvr:before {
	content: "\e6c8";
}
.md-edit:before {
	content: "\e6c9";
}
.md-email:before {
	content: "\e6ca";
}
.md-equalizer:before {
	content: "\e6cb";
}
.md-error:before {
	content: "\e6cc";
}
.md-event-available:before {
	content: "\e6cd";
}
.md-event-busy:before {
	content: "\e6ce";
}
.md-event-note:before {
	content: "\e6cf";
}
.md-exit-to-app:before {
	content: "\e6d0";
}
.md-expand-less:before {
	content: "\e6d1";
}
.md-expand-more:before {
	content: "\e6d2";
}
.md-explicit:before {
	content: "\e6d3";
}
.md-explore:before {
	content: "\e6d4";
}
.md-exposure-minus-1:before {
	content: "\e6d5";
}
.md-exposure-minus-2:before {
	content: "\e6d6";
}
.md-exposure-plus-1:before {
	content: "\e6d7";
}
.md-exposure-plus-2:before {
	content: "\e6d8";
}
.md-exposure-zero:before {
	content: "\e6d9";
}
.md-exposure:before {
	content: "\e6da";
}
.md-extension:before {
	content: "\e6db";
}
.md-face-unlock:before {
	content: "\e6dc";
}
.md-fast-forward:before {
	content: "\e6dd";
}
.md-fast-rewind:before {
	content: "\e6de";
}
.md-favorite-outline:before {
	content: "\e6df";
}
.md-favorite:before {
	content: "\e6e0";
}
.md-file-download:before {
	content: "\e6e1";
}
.md-file-upload:before {
	content: "\e6e2";
}
.md-filter-1:before {
	content: "\e6e3";
}
.md-filter-2:before {
	content: "\e6e4";
}
.md-filter-3:before {
	content: "\e6e5";
}
.md-filter-4:before {
	content: "\e6e6";
}
.md-filter-5:before {
	content: "\e6e7";
}
.md-filter-6:before {
	content: "\e6e8";
}
.md-filter-7:before {
	content: "\e6e9";
}
.md-filter-8:before {
	content: "\e6ea";
}
.md-filter-9-plus:before {
	content: "\e6eb";
}
.md-filter-9:before {
	content: "\e6ec";
}
.md-filter-b-and-w:before {
	content: "\e6ed";
}
.md-filter-center-focus:before {
	content: "\e6ee";
}
.md-filter-drama:before {
	content: "\e6ef";
}
.md-filter-frames:before {
	content: "\e6f0";
}
.md-filter-hdr:before {
	content: "\e6f1";
}
.md-filter-list:before {
	content: "\e6f2";
}
.md-filter-none:before {
	content: "\e6f3";
}
.md-filter-tilt-shift:before {
	content: "\e6f4";
}
.md-filter-vintage:before {
	content: "\e6f5";
}
.md-filter:before {
	content: "\e6f6";
}
.md-find-in-page:before {
	content: "\e6f7";
}
.md-find-replace:before {
	content: "\e6f8";
}
.md-flag:before {
	content: "\e6f9";
}
.md-flare:before {
	content: "\e6fa";
}
.md-flash-auto:before {
	content: "\e6fb";
}
.md-flash-off:before {
	content: "\e6fc";
}
.md-flash-on:before {
	content: "\e6fd";
}
.md-flight:before {
	content: "\e6fe";
}
.md-flip-to-back:before {
	content: "\e6ff";
}
.md-flip-to-front:before {
	content: "\e700";
}
.md-flip:before {
	content: "\e701";
}
.md-folder-open:before {
	content: "\e702";
}
.md-folder-shared:before {
	content: "\e703";
}
.md-folder-special:before {
	content: "\e704";
}
.md-folder:before {
	content: "\e705";
}
.md-format-align-center:before {
	content: "\e706";
}
.md-format-align-justify:before {
	content: "\e707";
}
.md-format-align-left:before {
	content: "\e708";
}
.md-format-align-right:before {
	content: "\e709";
}
.md-format-bold:before {
	content: "\e70a";
}
.md-format-clear:before {
	content: "\e70b";
}
.md-format-color-fill:before {
	content: "\e70c";
}
.md-format-color-reset:before {
	content: "\e70d";
}
.md-format-color-text:before {
	content: "\e70e";
}
.md-format-indent-decrease:before {
	content: "\e70f";
}
.md-format-indent-increase:before {
	content: "\e710";
}
.md-format-italmd:before {
	content: "\e711";
}
.md-format-line-spacing:before {
	content: "\e712";
}
.md-format-list-bulleted:before {
	content: "\e713";
}
.md-format-list-numbered:before {
	content: "\e714";
}
.md-format-paint:before {
	content: "\e715";
}
.md-format-quote:before {
	content: "\e716";
}
.md-format-size:before {
	content: "\e717";
}
.md-format-strikethrough:before {
	content: "\e718";
}
.md-format-textdirection-l-to-r:before {
	content: "\e719";
}
.md-format-textdirection-r-to-l:before {
	content: "\e71a";
}
.md-format-underline:before {
	content: "\e71b";
}
.md-forum:before {
	content: "\e71c";
}
.md-forward:before {
	content: "\e71d";
}
.md-fullscreen-exit:before {
	content: "\e71e";
}
.md-fullscreen:before {
	content: "\e71f";
}
.md-functions:before {
	content: "\e720";
}
.md-gamepad:before {
	content: "\e721";
}
.md-games:before {
	content: "\e722";
}
.md-gesture:before {
	content: "\e723";
}
.md-get-app:before {
	content: "\e724";
}
.md-gps-fixed:before {
	content: "\e725";
}
.md-gps-not-fixed:before {
	content: "\e726";
}
.md-gps-off:before {
	content: "\e727";
}
.md-gradient:before {
	content: "\e728";
}
.md-grain:before {
	content: "\e729";
}
.md-grid-off:before {
	content: "\e72a";
}
.md-grid-on:before {
	content: "\e72b";
}
.md-group-add:before {
	content: "\e72c";
}
.md-group:before {
	content: "\e72d";
}
.md-hdr-off:before {
	content: "\e72e";
}
.md-hdr-on:before {
	content: "\e72f";
}
.md-hdr-strong:before {
	content: "\e730";
}
.md-hdr-weak:before {
	content: "\e731";
}
.md-headset-mmd:before {
	content: "\e732";
}
.md-headset:before {
	content: "\e733";
}
.md-healing:before {
	content: "\e734";
}
.md-hearing:before {
	content: "\e735";
}
.md-high-quality:before {
	content: "\e736";
}
.md-highlight-remove:before {
	content: "\e737";
}
.md-history:before {
	content: "\e738";
}
.md-hotel:before {
	content: "\e739";
}
.md-image-aspect-ratio:before {
	content: "\e73a";
}
.md-image:before {
	content: "\e73b";
}
.md-import-export:before {
	content: "\e73c";
}
.md-inbox:before {
	content: "\e73d";
}
.md-info-outline:before {
	content: "\e73e";
}
.md-insert-chart:before {
	content: "\e73f";
}
.md-insert-comment:before {
	content: "\e740";
}
.md-insert-drive-file:before {
	content: "\e741";
}
.md-insert-emoticon:before {
	content: "\e742";
}
.md-insert-invitation:before {
	content: "\e743";
}
.md-insert-link:before {
	content: "\e744";
}
.md-insert-photo:before {
	content: "\e745";
}
.md-invert-colors-off:before {
	content: "\e746";
}
.md-invert-colors-on:before {
	content: "\e747";
}
.md-invert-colors:before {
	content: "\e748";
}
.md-iso:before {
	content: "\e749";
}
.md-keyboard-alt:before {
	content: "\e74a";
}
.md-keyboard-arrow-down:before {
	content: "\e74b";
}
.md-keyboard-arrow-left:before {
	content: "\e74c";
}
.md-keyboard-arrow-right:before {
	content: "\e74d";
}
.md-keyboard-arrow-up:before {
	content: "\e74e";
}
.md-keyboard-backspace:before {
	content: "\e74f";
}
.md-keyboard-capslock:before {
	content: "\e750";
}
.md-keyboard-control:before {
	content: "\e751";
}
.md-keyboard-hide:before {
	content: "\e752";
}
.md-keyboard-return:before {
	content: "\e753";
}
.md-keyboard-tab:before {
	content: "\e754";
}
.md-keyboard-voice:before {
	content: "\e755";
}
.md-keyboard:before {
	content: "\e756";
}
.md-label-outline:before {
	content: "\e757";
}
.md-landscape:before {
	content: "\e758";
}
.md-language:before {
	content: "\e759";
}
.md-laptop-chromebook:before {
	content: "\e75a";
}
.md-laptop-mac:before {
	content: "\e75b";
}
.md-laptop-windows:before {
	content: "\e75c";
}
.md-laptop:before {
	content: "\e75d";
}
.md-launch:before {
	content: "\e75e";
}
.md-layers-clear:before {
	content: "\e75f";
}
.md-layers:before {
	content: "\e760";
}
.md-leak-add:before {
	content: "\e761";
}
.md-leak-remove:before {
	content: "\e762";
}
.md-lens:before {
	content: "\e763";
}
.md-link:before {
	content: "\e764";
}
.md-live-help:before {
	content: "\e765";
}
.md-local-airport:before {
	content: "\e766";
}
.md-local-atm:before {
	content: "\e767";
}
.md-local-attraction:before {
	content: "\e768";
}
.md-local-bar:before {
	content: "\e769";
}
.md-local-cafe:before {
	content: "\e76a";
}
.md-local-car-wash:before {
	content: "\e76b";
}
.md-local-convenience-store:before {
	content: "\e76c";
}
.md-local-drink:before {
	content: "\e76d";
}
.md-local-florist:before {
	content: "\e76e";
}
.md-local-gas-station:before {
	content: "\e76f";
}
.md-local-grocery-store:before {
	content: "\e770";
}
.md-local-hospital:before {
	content: "\e771";
}
.md-local-hotel:before {
	content: "\e772";
}
.md-local-laundry-service:before {
	content: "\e773";
}
.md-local-library:before {
	content: "\e774";
}
.md-local-mall:before {
	content: "\e775";
}
.md-local-movies:before {
	content: "\e776";
}
.md-local-offer:before {
	content: "\e777";
}
.md-local-parking:before {
	content: "\e778";
}
.md-local-pharmacy:before {
	content: "\e779";
}
.md-local-phone:before {
	content: "\e77a";
}
.md-local-pizza:before {
	content: "\e77b";
}
.md-local-play:before {
	content: "\e77c";
}
.md-local-post-office:before {
	content: "\e77d";
}
.md-local-print-shop:before {
	content: "\e77e";
}
.md-local-restaurant:before {
	content: "\e77f";
}
.md-local-see:before {
	content: "\e780";
}
.md-local-shipping:before {
	content: "\e781";
}
.md-local-taxi:before {
	content: "\e782";
}
.md-location-city:before {
	content: "\e783";
}
.md-location-disabled:before {
	content: "\e784";
}
.md-location-history:before {
	content: "\e785";
}
.md-location-off:before {
	content: "\e786";
}
.md-location-on:before {
	content: "\e787";
}
.md-location-searching:before {
	content: "\e788";
}
.md-lock-open:before {
	content: "\e789";
}
.md-lock-outline:before {
	content: "\e78a";
}
.md-looks-3:before {
	content: "\e78b";
}
.md-looks-4:before {
	content: "\e78c";
}
.md-looks-5:before {
	content: "\e78d";
}
.md-looks-6:before {
	content: "\e78e";
}
.md-looks-one:before {
	content: "\e78f";
}
.md-looks-two:before {
	content: "\e790";
}
.md-looks:before {
	content: "\e791";
}
.md-loop:before {
	content: "\e792";
}
.md-loupe:before {
	content: "\e793";
}
.md-loyalty:before {
	content: "\e794";
}
.md-mail:before {
	content: "\e795";
}
.md-map:before {
	content: "\e796";
}
.md-markunread-mailbox:before {
	content: "\e797";
}
.md-markunread:before {
	content: "\e798";
}
.md-memory:before {
	content: "\e799";
}
.md-menu:before {
	content: "\e79a";
}
.md-merge-type:before {
	content: "\e79b";
}
.md-message:before {
	content: "\e79c";
}
.md-messenger:before {
	content: "\e79d";
}
.md-mmd:before {
	content: "\e79e";
}
.md-mms:before {
	content: "\e79f";
}
.md-mnone:before {
	content: "\e7a0";
}
.md-mode-comment:before {
	content: "\e7a1";
}
.md-mode-edit:before {
	content: "\e7a2";
}
.md-moff:before {
	content: "\e7a3";
}
.md-mood:before {
	content: "\e7a4";
}
.md-more-horiz:before {
	content: "\e7a5";
}
.md-more-vert:before {
	content: "\e7a6";
}
.md-more:before {
	content: "\e7a7";
}
.md-mouse:before {
	content: "\e7a8";
}
.md-movie-creation:before {
	content: "\e7a9";
}
.md-movie:before {
	content: "\e7aa";
}
.md-multitrack-audio:before {
	content: "\e7ab";
}
.md-my-library-add:before {
	content: "\e7ac";
}
.md-my-library-books:before {
	content: "\e7ad";
}
.md-my-library-musmd:before {
	content: "\e7ae";
}
.md-my-location:before {
	content: "\e7af";
}
.md-nature-people:before {
	content: "\e7b0";
}
.md-nature:before {
	content: "\e7b1";
}
.md-navigate-before:before {
	content: "\e7b2";
}
.md-navigate-next:before {
	content: "\e7b3";
}
.md-navigation:before {
	content: "\e7b4";
}
.md-network-cell:before {
	content: "\e7b5";
}
.md-network-locked:before {
	content: "\e7b6";
}
.md-network-wifi:before {
	content: "\e7b7";
}
.md-new-releases:before {
	content: "\e7b8";
}
.md-nfc:before {
	content: "\e7b9";
}
.md-no-sim:before {
	content: "\e7ba";
}
.md-not-interested:before {
	content: "\e7bb";
}
.md-note-add:before {
	content: "\e7bc";
}
.md-notifications-none:before {
	content: "\e7bd";
}
.md-notifications-off:before {
	content: "\e7be";
}
.md-notifications-on:before {
	content: "\e7bf";
}
.md-notifications-paused:before {
	content: "\e7c0";
}
.md-notifications:before {
	content: "\e7c1";
}
.md-now-wallpaper:before {
	content: "\e7c2";
}
.md-now-widgets:before {
	content: "\e7c3";
}
.md-open-in-browser:before {
	content: "\e7c4";
}
.md-open-in-new:before {
	content: "\e7c5";
}
.md-open-with:before {
	content: "\e7c6";
}
.md-pages:before {
	content: "\e7c7";
}
.md-pageview:before {
	content: "\e7c8";
}
.md-palette:before {
	content: "\e7c9";
}
.md-panorama-48px:before {
	content: "\e7ca";
}
.md-panorama-fisheye-48px:before {
	content: "\e7cb";
}
.md-panorama-horizontal:before {
	content: "\e7cc";
}
.md-panorama-vertical:before {
	content: "\e7cd";
}
.md-panorama-wide-angle:before {
	content: "\e7ce";
}
.md-party-mode:before {
	content: "\e7cf";
}
.md-pause-circle-fill:before {
	content: "\e7d0";
}
.md-pause-circle-outline:before {
	content: "\e7d1";
}
.md-pause:before {
	content: "\e7d2";
}
.md-payment:before {
	content: "\e7d3";
}
.md-people-outline:before {
	content: "\e7d4";
}
.md-people:before {
	content: "\e7d5";
}
.md-perm-camera-mmd:before {
	content: "\e7d6";
}
.md-perm-contact-cal:before {
	content: "\e7d7";
}
.md-perm-data-setting:before {
	content: "\e7d8";
}
.md-perm-devmde-info:before {
	content: "\e7d9";
}
.md-perm-identity:before {
	content: "\e7da";
}
.md-perm-media:before {
	content: "\e7db";
}
.md-perm-phone-msg:before {
	content: "\e7dc";
}
.md-perm-scan-wifi:before {
	content: "\e7dd";
}
.md-person-add:before {
	content: "\e7de";
}
.md-person-outline:before {
	content: "\e7df";
}
.md-person:before {
	content: "\e7e0";
}
.md-phone-android:before {
	content: "\e7e1";
}
.md-phone-bluetooth-speaker:before {
	content: "\e7e2";
}
.md-phone-forwarded:before {
	content: "\e7e3";
}
.md-phone-in-talk:before {
	content: "\e7e4";
}
.md-phone-iphone:before {
	content: "\e7e5";
}
.md-phone-locked:before {
	content: "\e7e6";
}
.md-phone-missed:before {
	content: "\e7e7";
}
.md-phone-paused:before {
	content: "\e7e8";
}
.md-phone:before {
	content: "\e7e9";
}
.md-phonelink-off:before {
	content: "\e7ea";
}
.md-phonelink:before {
	content: "\e7eb";
}
.md-photo-album:before {
	content: "\e7ec";
}
.md-photo-camera:before {
	content: "\e7ed";
}
.md-photo-library:before {
	content: "\e7ee";
}
.md-photo:before {
	content: "\e7ef";
}
.md-pin-drop:before {
	content: "\e7f0";
}
.md-place:before {
	content: "\e7f1";
}
.md-play-arrow:before {
	content: "\e7f2";
}
.md-play-circle-fill:before {
	content: "\e7f3";
}
.md-play-circle-outline:before {
	content: "\e7f4";
}
.md-play-download:before {
	content: "\e7f5";
}
.md-play-install:before {
	content: "\e7f6";
}
.md-play-shopping-bag:before {
	content: "\e7f7";
}
.md-playlist-add:before {
	content: "\e7f8";
}
.md-plus-one:before {
	content: "\e7f9";
}
.md-pmdture-in-pmdture:before {
	content: "\e7fa";
}
.md-poll:before {
	content: "\e7fb";
}
.md-polymer:before {
	content: "\e7fc";
}
.md-portable-wifi-off:before {
	content: "\e7fd";
}
.md-portrait:before {
	content: "\e7fe";
}
.md-publish:before {
	content: "\e7ff";
}
.md-publmd:before {
	content: "\e800";
}
.md-query-builder:before {
	content: "\e801";
}
.md-question-answer:before {
	content: "\e802";
}
.md-queue-musmd:before {
	content: "\e803";
}
.md-queue:before {
	content: "\e804";
}
.md-quick-contacts-dialer:before {
	content: "\e805";
}
.md-quick-contacts-mail:before {
	content: "\e806";
}
.md-radio-button-off:before {
	content: "\e807";
}
.md-radio-button-on:before {
	content: "\e808";
}
.md-radio:before {
	content: "\e809";
}
.md-rate-review:before {
	content: "\e80a";
}
.md-receipt:before {
	content: "\e80b";
}
.md-recent-actors:before {
	content: "\e80c";
}
.md-redeem:before {
	content: "\e80d";
}
.md-redo:before {
	content: "\e80e";
}
.md-refresh:before {
	content: "\e80f";
}
.md-remove-circle-outline:before {
	content: "\e810";
}
.md-remove-circle:before {
	content: "\e811";
}
.md-remove-red-eye:before {
	content: "\e812";
}
.md-remove:before {
	content: "\e813";
}
.md-repeat-one:before {
	content: "\e814";
}
.md-repeat:before {
	content: "\e815";
}
.md-replay:before {
	content: "\e816";
}
.md-reply-all:before {
	content: "\e817";
}
.md-reply:before {
	content: "\e818";
}
.md-report-problem:before {
	content: "\e819";
}
.md-report:before {
	content: "\e81a";
}
.md-restaurant-menu:before {
	content: "\e81b";
}
.md-ring-volume:before {
	content: "\e81c";
}
.md-rotate-left:before {
	content: "\e81d";
}
.md-rotate-right:before {
	content: "\e81e";
}
.md-satellite:before {
	content: "\e81f";
}
.md-save:before {
	content: "\e820";
}
.md-schedule:before {
	content: "\e821";
}
.md-school:before {
	content: "\e822";
}
.md-screen-lock-landscape:before {
	content: "\e823";
}
.md-screen-lock-portrait:before {
	content: "\e824";
}
.md-screen-lock-rotation:before {
	content: "\e825";
}
.md-screen-rotation:before {
	content: "\e826";
}
.md-sd-card:before {
	content: "\e827";
}
.md-sd-storage:before {
	content: "\e828";
}
.md-search:before {
	content: "\e829";
}
.md-security:before {
	content: "\e82a";
}
.md-select-all:before {
	content: "\e82b";
}
.md-send:before {
	content: "\e82c";
}
.md-settings-applmdations:before {
	content: "\e82d";
}
.md-settings-backup-restore:before {
	content: "\e82e";
}
.md-settings-bluetooth:before {
	content: "\e82f";
}
.md-settings-cell:before {
	content: "\e830";
}
.md-settings-display:before {
	content: "\e831";
}
.md-settings-ethernet:before {
	content: "\e832";
}
.md-settings-input-antenna:before {
	content: "\e833";
}
.md-settings-input-component:before {
	content: "\e834";
}
.md-settings-input-hdmi:before {
	content: "\e835";
}
.md-settings-input-svideo:before {
	content: "\e836";
}
.md-settings-overscan:before {
	content: "\e837";
}
.md-settings-phone:before {
	content: "\e838";
}
.md-settings-remote:before {
	content: "\e839";
}
.md-settings-system-daydream:before {
	content: "\e83a";
}
.md-settings:before {
	content: "\e83b";
}
.md-share:before {
	content: "\e83c";
}
.md-shop-two:before {
	content: "\e83d";
}
.md-shopping-basket:before {
	content: "\e83e";
}
.md-shopping-cart:before {
	content: "\e83f";
}
.md-shuffle:before {
	content: "\e840";
}
.md-signal-cellular-0-bar:before {
	content: "\e841";
}
.md-signal-cellular-1-bar:before {
	content: "\e842";
}
.md-signal-cellular-2-bar:before {
	content: "\e843";
}
.md-signal-cellular-3-bar:before {
	content: "\e844";
}
.md-signal-cellular-4-bar:before {
	content: "\e845";
}
.md-signal-cellular-connected-no-internet-0-bar:before {
	content: "\e846";
}
.md-signal-cellular-connected-no-internet-1-bar:before {
	content: "\e847";
}
.md-signal-cellular-connected-no-internet-2-bar:before {
	content: "\e848";
}
.md-signal-cellular-connected-no-internet-3-bar:before {
	content: "\e849";
}
.md-signal-cellular-connected-no-internet-4-bar:before {
	content: "\e84a";
}
.md-signal-cellular-no-sim:before {
	content: "\e84b";
}
.md-signal-cellular-null:before {
	content: "\e84c";
}
.md-signal-cellular-off:before {
	content: "\e84d";
}
.md-signal-wifi-0-bar:before {
	content: "\e84e";
}
.md-signal-wifi-1-bar:before {
	content: "\e84f";
}
.md-signal-wifi-2-bar:before {
	content: "\e850";
}
.md-signal-wifi-3-bar:before {
	content: "\e851";
}
.md-signal-wifi-4-bar:before {
	content: "\e852";
}
.md-signal-wifi-off:before {
	content: "\e853";
}
.md-signal-wifi-statusbar-1-bar:before {
	content: "\e854";
}
.md-signal-wifi-statusbar-2-bar:before {
	content: "\e855";
}
.md-signal-wifi-statusbar-3-bar:before {
	content: "\e856";
}
.md-signal-wifi-statusbar-4-bar:before {
	content: "\e857";
}
.md-signal-wifi-statusbar-connected-no-internet-1:before {
	content: "\e858";
}
.md-signal-wifi-statusbar-connected-no-internet-2:before {
	content: "\e859";
}
.md-signal-wifi-statusbar-connected-no-internet-3:before {
	content: "\e85a";
}
.md-signal-wifi-statusbar-connected-no-internet-4:before {
	content: "\e85b";
}
.md-signal-wifi-statusbar-connected-no-internet:before {
	content: "\e85c";
}
.md-signal-wifi-statusbar-not-connected:before {
	content: "\e85d";
}
.md-signal-wifi-statusbar-null:before {
	content: "\e85e";
}
.md-sim-card-alert:before {
	content: "\e85f";
}
.md-sim-card:before {
	content: "\e860";
}
.md-skip-next:before {
	content: "\e861";
}
.md-skip-previous:before {
	content: "\e862";
}
.md-slideshow:before {
	content: "\e863";
}
.md-smartphone:before {
	content: "\e864";
}
.md-sms-failed:before {
	content: "\e865";
}
.md-sms:before {
	content: "\e866";
}
.md-snooze:before {
	content: "\e867";
}
.md-sort:before {
	content: "\e868";
}
.md-speaker-notes:before {
	content: "\e869";
}
.md-speaker:before {
	content: "\e86a";
}
.md-spellcheck:before {
	content: "\e86b";
}
.md-star-half:before {
	content: "\e86c";
}
.md-star-outline:before {
	content: "\e86d";
}
.md-star:before {
	content: "\e86e";
}
.md-stay-current-landscape:before {
	content: "\e86f";
}
.md-stay-current-portrait:before {
	content: "\e870";
}
.md-stay-primary-landscape:before {
	content: "\e871";
}
.md-stay-primary-portrait:before {
	content: "\e872";
}
.md-stop:before {
	content: "\e873";
}
.md-storage:before {
	content: "\e874";
}
.md-store-mall-directory:before {
	content: "\e875";
}
.md-straighten:before {
	content: "\e876";
}
.md-style:before {
	content: "\e877";
}
.md-subject:before {
	content: "\e878";
}
.md-subtitles:before {
	content: "\e879";
}
.md-supervisor-account:before {
	content: "\e87a";
}
.md-surround-sound:before {
	content: "\e87b";
}
.md-swap-calls:before {
	content: "\e87c";
}
.md-swap-horiz:before {
	content: "\e87d";
}
.md-swap-vert-circle:before {
	content: "\e87e";
}
.md-swap-vert:before {
	content: "\e87f";
}
.md-switch-camera:before {
	content: "\e880";
}
.md-switch-video:before {
	content: "\e881";
}
.md-sync-disabled:before {
	content: "\e882";
}
.md-sync-problem:before {
	content: "\e883";
}
.md-sync:before {
	content: "\e884";
}
.md-system-update-tv:before {
	content: "\e885";
}
.md-system-update:before {
	content: "\e886";
}
.md-tab-unselected:before {
	content: "\e887";
}
.md-tablet-android:before {
	content: "\e888";
}
.md-tablet-mac:before {
	content: "\e889";
}
.md-tablet:before {
	content: "\e88a";
}
.md-tag-faces:before {
	content: "\e88b";
}
.md-tap-and-play:before {
	content: "\e88c";
}
.md-terrain:before {
	content: "\e88d";
}
.md-text-format:before {
	content: "\e88e";
}
.md-textsms:before {
	content: "\e88f";
}
.md-texture:before {
	content: "\e890";
}
.md-theaters:before {
	content: "\e891";
}
.md-thumb-down:before {
	content: "\e892";
}
.md-thumb-up:before {
	content: "\e893";
}
.md-thumbs-up-down:before {
	content: "\e894";
}
.md-time-to-leave:before {
	content: "\e895";
}
.md-timelapse:before {
	content: "\e896";
}
.md-timer-3:before {
	content: "\e897";
}
.md-timer-10:before {
	content: "\e898";
}
.md-timer-auto:before {
	content: "\e899";
}
.md-timer-off:before {
	content: "\e89a";
}
.md-timer:before {
	content: "\e89b";
}
.md-tonality:before {
	content: "\e89c";
}
.md-track-changes:before {
	content: "\e89d";
}
.md-traffmd:before {
	content: "\e89e";
}
.md-transform:before {
	content: "\e89f";
}
.md-translate:before {
	content: "\e8a0";
}
.md-trending-down:before {
	content: "\e8a1";
}
.md-trending-neutral:before {
	content: "\e8a2";
}
.md-trending-up:before {
	content: "\e8a3";
}
.md-tune:before {
	content: "\e8a4";
}
.md-turned-in-not:before {
	content: "\e8a5";
}
.md-turned-in:before {
	content: "\e8a6";
}
.md-tv:before {
	content: "\e8a7";
}
.md-undo:before {
	content: "\e8a8";
}
.md-unfold-less:before {
	content: "\e8a9";
}
.md-unfold-more:before {
	content: "\e8aa";
}
.md-usb:before {
	content: "\e8ab";
}
.md-verified-user:before {
	content: "\e8ac";
}
.md-vertical-align-bottom:before {
	content: "\e8ad";
}
.md-vertical-align-center:before {
	content: "\e8ae";
}
.md-vertical-align-top:before {
	content: "\e8af";
}
.md-vibration:before {
	content: "\e8b0";
}
.md-video-collection:before {
	content: "\e8b1";
}
.md-videocam-off:before {
	content: "\e8b2";
}
.md-videocam:before {
	content: "\e8b3";
}
.md-view-agenda:before {
	content: "\e8b4";
}
.md-view-array:before {
	content: "\e8b5";
}
.md-view-carousel:before {
	content: "\e8b6";
}
.md-view-column:before {
	content: "\e8b7";
}
.md-view-day:before {
	content: "\e8b8";
}
.md-view-headline:before {
	content: "\e8b9";
}
.md-view-list:before {
	content: "\e8ba";
}
.md-view-module:before {
	content: "\e8bb";
}
.md-view-stream:before {
	content: "\e8bc";
}
.md-visibility-off:before {
	content: "\e8bd";
}
.md-visibility:before {
	content: "\e8be";
}
.md-voice-chat:before {
	content: "\e8bf";
}
.md-voicemail:before {
	content: "\e8c0";
}
.md-volume-down:before {
	content: "\e8c1";
}
.md-volume-mute:before {
	content: "\e8c2";
}
.md-volume-off:before {
	content: "\e8c3";
}
.md-volume-up:before {
	content: "\e8c4";
}
.md-vpn-key:before {
	content: "\e8c5";
}
.md-vpn-lock:before {
	content: "\e8c6";
}
.md-wallet-giftcard:before {
	content: "\e8c7";
}
.md-wallet-membership:before {
	content: "\e8c8";
}
.md-wallet-travel:before {
	content: "\e8c9";
}
.md-warning:before {
	content: "\e8ca";
}
.md-watch:before {
	content: "\e8cb";
}
.md-wb-auto:before {
	content: "\e8cc";
}
.md-wb-cloudy:before {
	content: "\e8cd";
}
.md-wb-incandescent:before {
	content: "\e8ce";
}
.md-wb-irradescent:before {
	content: "\e8cf";
}
.md-wb-sunny:before {
	content: "\e8d0";
}
.md-web:before {
	content: "\e8d1";
}
.md-whatshot:before {
	content: "\e8d2";
}
.md-wifi-lock:before {
	content: "\e8d3";
}
.md-wifi-tethering-48px:before {
	content: "\e8d4";
}
.md-wrap-text-48px:before {
	content: "\e8d5";
}
